<%= render 'shared/page_title', title: "listing  all the recipes"%>
<br>
<div align="center">
    <%= will_paginate%>
</div>
<%=render 'recipes/recipe', obj: @recipes%>
<div align="center">
    <%= will_paginate%>
</div>
