<div class="jumbotron center">
    <h1>Welcome to My Recipes</h1>
    <h2>The App where you can find the Best Recipes</h2>
    <p><%=link_to "Sign Up or Log In" ,"#",class:"btn btn-danger btn-lg"%>
</div>